@{
   
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")*@




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu a::after {
                transform: rotate(-90deg);
                position: absolute;
                right: 6px;
                top: .8em;
            }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-left: .1rem;
                margin-right: .1rem;
            }

        .image {
            width: 90px;
            height: 40px;
        }
        .bodycontainer {
             width: 100%;
             padding-right: 40px;
             padding-left: 40px;
             margin-right: auto;
             margin-left: auto;
            }

        /*footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
        }*/
    </style>
    <script>
        $(document).ready(function () {
            $(function () {
                $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
                    if (!$(this).next().hasClass('show')) {
                        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
                    }
                    var $subMenu = $(this).next(".dropdown-menu");
                    $subMenu.toggleClass('show');


                    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                        $('.dropdown-submenu .show').removeClass("show");
                    });
                    return false;
                });
                $('.logout').on('click', function (e) {
                       $.ajax({
                                    type: "GET",
                                    url: "https://localhost:44366/Login/Logout",
                                     success: function (data) {
                                           
                                    },
                                    error: function (data) {
                                        alert("Error occured!!")
                                    }
                                });
                });
            });
        });
        function myFunction() {

        }

    </script>

</head>
<body >
    <div>
        <!--Navbar-->
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                 <img src="~/Images/AtomLogo.png" class="image" />
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Master 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("ViewAllEnterprise","Enterprise")">Enterprise</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViewAllCompany","Company")">Company </a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViewAllFacility","Facility")">Facility</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViewAllProvider","Provider")">Provider</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViewAllPayer","Payer")">Insurance</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Credentialing
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Provider Credentialing</a></li>
                            <li><a class="dropdown-item" href="#">Facility Credentialing</a></li>
                          

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">File Allocation Reports</a></li>
                            <li><a class="dropdown-item" href="#">Client Invoice Report</a></li>
                            <li><a class="dropdown-item" href="#">Task Aging Report</a></li>
                            <li><a class="dropdown-item" href="#">Production Report</a></li>
                            <li><a class="dropdown-item" href="#">Production Detail Report</a></li>
                            <li><a class="dropdown-item" href="#">Non Workable Report</a></li>

                        </ul>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <button class="logout btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <!--/.Navbar-->
    </div>

    <div class="bodycontainer body-content" style="margin-top:10px;">
        @RenderBody()
       

    </div>
    <footer class="footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> Atom.com</a>
        </div>
        <!-- Copyright -->

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
